@model UniChatApplication.Models.TeacherProfile

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/TeacherManagement/StyleEdit.css">


<div class="container">
    <h1 class="text-center text-primary">Teacher Management</h1>
    <hr>
    <form asp-action="Edit">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <label class="control-label">FullName</label>
            <input type="text" class="form-control" name="editFullName" value="@Model.FullName">
            <span class="text-danger" id="validateFullName"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Gender</label>
            <select name="editGender" class="form-control">
                @{
                    if (Model.GenderText == "Male")
                    {
                        <option value="true" selected>Male</option>
                        <option value="false">Female</option>
                    }
                    else if (Model.GenderText == "Female")
                    {
                        <option value="true">Male</option>
                        <option value="false" selected>Female</option>
                    } 
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">TeacherCode</label>
            <input type="text" class="form-control" name="editTeacherCode" value="@Model.TeacherCode">
            <span class="text-danger" id="validateStudentCode"></span>
        </div>
        <div class="form-group">
            <button type="submit" value="Save" class="button-2">Save</button>

        </div>
        <div class="form-group">

            <button class="button-3" asp-action="Index">Back to List</button>

        </div>
    </form>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
