@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div>
    <p>@ViewBag.RequestMethod</p>
    <p>@ViewBag.Name</p>
</div>

<form action="/Home/Privacy" method="post">
    <input type="text" name="name" value=""/>
    <input type="submit" value="Post"/>
</form>