@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="site.css">
<style>
</style>
<body>

    <div class="text-center">
        <h1 class="display-4">Welcome Ly Tuan Dat</h1>
        <p><a href="#">Learn about <a href="https://facebook.com/sieunhanlachinh">Facebook</a>.</p>
        <div class="user">UserName</div>
        <div class="aba">


            <br>
            <input type="text" name="txtUser" placeholder="Nhap ten dang nhap">
            <br>
        </div>
        <div class="pass">PassWord</div>
        <div class="abe">
            <br>
            <input class="achay1" type="password" name="txtPass" placeholder="Nhap mat khau">
            <br>

        </div>
        <div>
            <button class="button button1">SignIn</button>
            <button class="button button2">Cancle</button>
        </div>
    </div>
</body>
