@model UniChatApplication.Models.StudentProfile

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/StyleStudentProfileManagement.css">
<div class="container">
    <h2>Student Management</h2>
    <h4>Edit StudentProfile</h4>
    <hr>
    <form asp-action="Edit">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <label class="control-label">FullName</label>
            <input type="text" class="form-control" name="editFullName" value="@Model.FullName">
            <span class="text-danger" id="validateFullName"></span>
        </div>
        <div class="form-group">
            <div>Gender</div>
            <select name="editGender">
                @{
                    if (Model.GenderText == "Male")
                    {
                        <option value="true" selected>Male</option>
                        <option value="false">Female</option>
                    }
                    else if (Model.GenderText == "Female")
                    {
                        <option value="true">Male</option>
                        <option value="false" selected>Female</option>
                    }
                }

            </select>
        </div>
        <div class="form-group">
            <div>Major</div>
            <select name="editMajor">

                @{
                    if (Model.Major == "SE")
                    {
                        <option value="IOT">INTERNET OF THING</option>
                        <option value="SE" selected>SOFTWARE ENGINEERING</option>
                        <option value="Unset">UNSET</option>
                    }
                    else if (Model.Major == "IOT"){
                        <option value="IOT" selected>INTERNET OF THING</option>
                        <option value="SE">SOFTWARE ENGINEERING</option>
                        <option value="Unset">UNSET</option>
                    }
                    else {
                        <option value="IOT">INTERNET OF THING</option>
                        <option value="SE">SOFTWARE ENGINEERING</option>
                        <option value="Unset" selected>UNSET</option>
                    }
                }


            </select>
        </div>
        <div class="form-group">
            <label class="control-label">StudentCode</label>
            <input type="text" class="form-control" name="editStudentCode" value="@Model.StudentCode">
            <span class="text-danger" id="validateStudentCode"></span>
        </div>
        <div class="form-group">
            <a class="btn btn-danger" asp-action="Index">Back to List</a>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
