@{
    ViewData["Title"] = "UpdatePassword";
}
@model Account


<div class="container">

    <form asp-action="UpdatePassword" method="POST">
        <h1 class="text-center">Change Admin Password</h1>
        <hr>
        @if (TempData["UpdatePasswordStatus"] != null && (bool) TempData["UpdatePasswordStatus"])
        {
            <p class="text-success">@TempData["UpdatePasswordMessage"]</p>
        }
        else if (TempData["UpdatePasswordStatus"] != null && !(bool) TempData["UpdatePasswordStatus"])
        {
            <p class="text-danger">@TempData["UpdatePasswordMessage"]</p>
        }
        <div class="form-group">
            <label for="Username">
                <b>Username</b>
            </label>
            <input type="text" asp-for="Username" class="form-control" readonly>
        </div>

        <div class="form-group">
            <label for="oldPassword">
                <b>Old Password</b>
            </label>
            <input type="password" name="oldPassword" id="oldPassword" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="newPassword">
                <b>New Password</b>
            </label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="confirmPassword">
                <b>ConfirmPassword</b>
            </label>
            <input type="password" name="confirmPassword" class="form-control">
        </div>

        <div class="form-group">
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-danger">Back</a>
            <input type="reset" value="Cancel" class="btn btn-danger">
            <input type="submit" value="Confirm" class="btn btn-success">
        </div>

    </form>


</div>
